name: CI for Vanilla Notebooks

on:
  push:
    branches:
      - main
      - pm-143
    paths:
      - 'recipes/Function-Calling/Function_Calling.ipynb'
      - 'recipes/RAG/RAG_with_Langchain.ipynb'
      - 'recipes/Entity-Extraction/entity_extraction.ipynb'
      - 'recipes/Granite_Guardian/HAP.ipynb'
      - '.github/notebook_lists/vanilla_notebooks.txt'
      - 'recipes/AI-Agents/Agentic_RAG.ipynb'
      - 'recipes/Summarize/Summarize.ipynb'
  pull_request:
    branches:
      - main
      - pm-143
    paths:
      - 'recipes/Function-Calling/Function_Calling.ipynb'
      - '.github/workflows/vanilla_workflow.yaml'
      - 'recipes/RAG/RAG_with_Langchain.ipynb'
      - 'recipes/Entity-Extraction/entity_extraction.ipynb'
      - 'recipes/Granite_Guardian/HAP.ipynb'
      - 'recipes/AI-Agents/Agentic_RAG.ipynb'
      - 'recipes/Summarize/Summarize.ipynb'

jobs:
  test-vanilla-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip    
          pip install nbconvert nbclient ipykernel

      - name: Run Vanilla Notebooks
        env:
          GRANITE_TESTING: ${{ vars.GRANITE_TESTING }}
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
          WATSONX_APIKEY: ${{ secrets.WATSONX_APIKEY }}
          WATSONX_PROJECT_ID: ${{ secrets.WATSONX_PROJECT_ID }}
          WATSONX_URL: ${{ secrets.WATSONX_URL }}
        run: |
          notebooks=$(cat .github/notebook_lists/vanilla_notebooks.txt | grep -v '^#' | tr '\n' ' ')  
          for notebook in $notebooks; do 
            echo "Building virtual env"  
            rm -rf .venv
            python -m venv .venv
            source .venv/bin/activate
            pip install ipykernel
            echo "Installing kernel $kernel"
            kernel=$(basename $notebook)
            python -m ipykernel install --user --name $kernel 
            echo "Executing $notebook"
            jupyter nbconvert --to notebook --execute --ExecutePreprocessor.kernel_name $kernel --inplace $notebook
            deactivate
          done
